In [1]:
import os
os.chdir('..')

In [2]:
from src.data.data_cleaning import DataCleaning

In [3]:
data_cleaning = DataCleaning(main_path="data/raw")

In [4]:
leads_df = data_cleaning.load_dataset(dataset_path="leads.csv")
data_cleaning.inspect_dataset(leads_df)
data_cleaning.identify_columns_with_single_value(leads_df)
data_cleaning.identify_row_with_duplicate_data(leads_df)

Shape: (61639, 10)

         Id       First Name          Use Case   Source     Status  \
0  23okrabh              NaN  Corporate Events  Inbound  Nurturing
1       NaN  Taylor1 Harris1               NaN  Inbound  Discarded
2  hbzt0kp1   Alex6 Jackson3               NaN  Inbound  Nurturing
3  velluwdq  Bailey2 Taylor6  Corporate Events  Inbound  Discarded
4       NaN    Drew5 Wilson5  Corporate Events  Inbound  Nurturing

  Discarded/Nurturing Reason    Acquisition Campaign Created Date  Converted  \
0                    Not Fit                     NaN   2018-05-26          0
1                Not feeling  Event Management Guide   2018-10-17          0
2                 Competitor                     NaN   2019-03-29          0
3                 Not Target                     NaN   2018-05-26          0
4                 Competitor                     NaN   2018-10-17          0

      City
0  Chicago
1   Denver
2   Denver
3      NaN
4      NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61639 entries, 0 to 61638
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          43972 non-null  object
 1   First Name                  53240 non-null  object
 2   Use Case                    44918 non-null  object
 3   Source                      60293 non-null  object
 4   Status                      61639 non-null  object
 5   Discarded/Nurturing Reason  45169 non-null  object
 6   Acquisition Campaign        25047 non-null  object
 7   Created Date                61639 non-null  object
 8   Converted                   61639 non-null  int64
 9   City                        34929 non-null  object
dtypes: int64(1), object(9)
memory usage: 4.7+ MB
None


Column index - Number of unique values for each column.
Id                            43972
First Name                    53240
Use Case                          5
Source                            6
Status                           12
Discarded/Nurturing Reason       13
Acquisition Campaign             71
Created Date                    591
Converted                         2
City                             20
dtype: int64
Are there duplicates?: True
        Id First Name          Use Case   Source     Status  \
34     NaN        NaN     Sports Events  Inbound  Discarded
48     NaN        NaN     Sports Events  Inbound  Discarded
99     NaN        NaN     Sports Events  Inbound  Discarded
149    NaN        NaN     Sports Events  Inbound        New
194    NaN        NaN     Sports Events  Inbound        New
...    ...        ...               ...      ...        ...
61429  NaN        NaN  Corporate Events  Inbound  Qualified
61477  NaN        NaN     Sports Events  Inbound  Discarded
61479  NaN        NaN     Sports Events  Inbound  Discarded
61515  NaN        NaN     Sports Events  Inbound  Nurturing
61631  NaN        NaN     Sports Events  Inbound        New

      Discarded/Nurturing Reason Acquisition Campaign Created Date  Converted  \
34                    Not Target                  NaN   2018-10-17          0
48                    Not Target                  NaN   2018-01-01          0
99                    Not Target                  NaN   2018-01-01          0
149                          NaN                  NaN   2019-04-28          0
194                          NaN                  NaN   2019-04-28          0
...                          ...                  ...          ...        ...
61429                        NaN                  NaN   2020-09-26          1
61477                 Not Target                  NaN   2020-09-26          0
61479             Duplicate/Test                  NaN   2020-09-26          0
61515       Not the right moment                  NaN   2020-09-26          0
61631                        NaN                  NaN   2020-10-27          0

      City
34     NaN
48     NaN
99     NaN
149    NaN
194    NaN
...    ...
61429  NaN
61477  NaN
61479  NaN
61515  NaN
61631  NaN

[1576 rows x 10 columns]

In [5]:
offers_df = data_cleaning.load_dataset(dataset_path="offers.csv")
data_cleaning.inspect_dataset(offers_df)
data_cleaning.identify_columns_with_single_value(offers_df)
data_cleaning.identify_row_with_duplicate_data(offers_df)

Shape: (6130, 9)

         Id              Use Case       Status Created Date  Close Date  \
0  doqyhjtv  Educational Seminars   Closed Won   2019-11-17  2019-11-17
1       NaN         Sports Events  Closed Lost   2019-11-24  2019-11-25
2       NaN         Sports Events  Closed Lost   2019-11-24  2019-11-25
3  cturqi48      Corporate Events   Closed Won   2019-05-07  2019-05-07
4       NaN         Sports Events  Closed Lost   2019-11-17  2019-11-25

   Price    Discount code               Pain  Loss Reason
0  300.0       SAVEMORE50         operations          NaN
1  150.0              NaN         operations        price
2  768.0      HALFYEAR20G         operations  no response
3  240.0  DISCOUNT50POWER  financial control          NaN
4  240.0     SAVEMONTH50G  financial control  no response

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6130 entries, 0 to 6129
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             4962 non-null   object
 1   Use Case       6093 non-null   object
 2   Status         6130 non-null   object
 3   Created Date   6130 non-null   object
 4   Close Date     6130 non-null   object
 5   Price          5765 non-null   float64
 6   Discount code  4431 non-null   object
 7   Pain           5261 non-null   object
 8   Loss Reason    2364 non-null   object
dtypes: float64(1), object(8)
memory usage: 431.1+ KB
None


Column index - Number of unique values for each column.
Id               4924
Use Case            5
Status              6
Created Date      420
Close Date        440
Price              95
Discount code     112
Pain                4
Loss Reason         8
dtype: int64
Are there duplicates?: True
       Id              Use Case       Status Created Date  Close Date  Price  \
286   NaN         Sports Events       Demo 1   2019-09-07  2020-01-26    NaN
2503  NaN      Corporate Events   Closed Won   2019-11-05  2019-11-05  360.0
2730  NaN      Corporate Events   Closed Won   2019-11-05  2019-11-05  360.0
2789  NaN      Corporate Events   Closed Won   2019-06-05  2019-06-05  324.0
2824  NaN      Corporate Events   Closed Won   2019-11-05  2019-11-05  360.0
3093  NaN  Educational Seminars       Demo 1   2019-02-06  2020-01-26    NaN
4075  NaN         Sports Events       Demo 1   2018-06-05  2018-06-05    NaN
4968  NaN      Wedding Planning   Closed Won   2019-06-16  2019-06-16    NaN
4984  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4985  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4986  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4987  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4988  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4989  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
4990  NaN      Wedding Planning   Closed Won   2019-05-11  2019-05-11    NaN
5338  NaN      Wedding Planning   Closed Won   2019-04-23  2019-04-23    NaN
5339  NaN      Wedding Planning   Closed Won   2019-04-23  2019-04-23    NaN
5346  NaN      Wedding Planning   Closed Won   2019-04-23  2018-09-07  100.0
5348  NaN      Wedding Planning   Closed Won   2019-04-23  2018-11-24  100.0
5414  NaN      Wedding Planning   Closed Won   2019-04-23  2018-10-07  100.0
5415  NaN      Wedding Planning   Closed Won   2019-04-23  2018-11-19  100.0
5417  NaN      Wedding Planning   Closed Won   2019-04-23  2019-02-09    NaN
5418  NaN      Wedding Planning   Closed Won   2019-04-23  2019-02-09    NaN
5420  NaN      Wedding Planning   Closed Won   2019-04-23  2019-02-09    NaN
5422  NaN      Wedding Planning   Closed Won   2019-04-23  2019-02-20    NaN
5423  NaN      Wedding Planning   Closed Won   2019-04-23  2019-02-20    NaN
5432  NaN      Wedding Planning   Closed Won   2019-04-23  2018-12-29    NaN
5434  NaN      Wedding Planning   Closed Won   2019-04-23  2019-03-18    NaN
5457  NaN      Wedding Planning  Closed Lost   2019-05-25  2019-10-26    NaN
5459  NaN      Wedding Planning  Closed Lost   2019-05-25  2019-10-26    NaN
5506  NaN      Wedding Planning   Closed Won   2019-04-23  2019-03-18    NaN
5507  NaN      Wedding Planning   Closed Won   2019-04-23  2019-03-18    NaN
5508  NaN      Wedding Planning   Closed Won   2019-04-23  2019-03-18    NaN
5509  NaN      Wedding Planning   Closed Won   2019-04-23  2019-03-18    NaN
5539  NaN      Wedding Planning  Closed Lost   2019-05-26  2019-10-26    NaN
5621  NaN      Wedding Planning   Closed Won   2019-05-26  2019-05-26    NaN
5671  NaN      Wedding Planning  Closed Lost   2019-04-24  2019-04-24    NaN
5690  NaN      Wedding Planning  Closed Lost   2019-05-26  2019-05-26    NaN
5810  NaN      Wedding Planning   Closed Won   2019-04-25  2019-02-23    NaN
5811  NaN      Wedding Planning   Closed Won   2019-04-25  2019-03-26    NaN
5812  NaN      Wedding Planning   Closed Won   2019-04-25  2019-03-26    NaN
5813  NaN      Wedding Planning   Closed Won   2019-04-25  2019-03-26    NaN
5814  NaN      Wedding Planning   Closed Won   2019-04-25  2019-02-23    NaN
5815  NaN      Wedding Planning   Closed Won   2019-04-25  2018-12-26    NaN
5816  NaN      Wedding Planning   Closed Won   2019-04-25  2018-12-26    NaN
5862  NaN      Wedding Planning   Closed Won   2019-06-25  2019-06-25    NaN
5921  NaN      Wedding Planning   Closed Won   2019-06-29  2019-06-28    0.0
5923  NaN      Wedding Planning   Closed Won   2019-06-29  2019-07-29    0.0
5926  NaN      Wedding Planning   Closed Won   2019-06-29  2019-03-11    0.0
5928  NaN      Wedding Planning   Closed Won   2019-06-29  2019-03-12    0.0
5930  NaN      Wedding Planning   Closed Won   2019-06-29  2019-03-13    0.0
5931  NaN      Wedding Planning   Closed Won   2019-06-29  2019-03-13    0.0
5957  NaN      Wedding Planning   Closed Won   2019-01-31  2019-01-31    NaN
5970  NaN      Wedding Planning   Closed Won   2019-05-19  2019-05-19    NaN

        Discount code                 Pain  Loss Reason
286               NaN  quality of delivery          NaN
2503  MONTHSAVE25DEAL    financial control          NaN
2730  MONTHSAVE25DEAL           operations          NaN
2789     10OFFREDUCED    financial control          NaN
2824  MONTHSAVE25DEAL           operations          NaN
3093              NaN           operations          NaN
4075              NaN                  NaN          NaN
4968              NaN                  NaN          NaN
4984              NaN                  NaN          NaN
4985              NaN                  NaN          NaN
4986              NaN                  NaN          NaN
4987              NaN                  NaN          NaN
4988              NaN                  NaN          NaN
4989              NaN                  NaN          NaN
4990              NaN                  NaN          NaN
5338              NaN                  NaN          NaN
5339              NaN                  NaN          NaN
5346              NaN                  NaN          NaN
5348              NaN                  NaN          NaN
5414              NaN                  NaN          NaN
5415              NaN                  NaN          NaN
5417              NaN                  NaN          NaN
5418              NaN                  NaN          NaN
5420              NaN                  NaN          NaN
5422              NaN                  NaN          NaN
5423              NaN                  NaN          NaN
5432              NaN                  NaN          NaN
5434              NaN                  NaN          NaN
5457              NaN                  NaN    no budget
5459              NaN                  NaN    no budget
5506              NaN                  NaN          NaN
5507              NaN                  NaN          NaN
5508              NaN                  NaN          NaN
5509              NaN                  NaN          NaN
5539              NaN                  NaN    no budget
5621              NaN                  NaN          NaN
5671              NaN                  NaN  no response
5690              NaN                  NaN  no response
5810              NaN                  NaN          NaN
5811              NaN                  NaN          NaN
5812              NaN                  NaN          NaN
5813              NaN                  NaN          NaN
5814              NaN                  NaN          NaN
5815              NaN                  NaN          NaN
5816              NaN                  NaN          NaN
5862              NaN                  NaN          NaN
5921              NaN                  NaN          NaN
5923              NaN                  NaN          NaN
5926              NaN                  NaN          NaN
5928              NaN                  NaN          NaN
5930              NaN                  NaN          NaN
5931              NaN                  NaN          NaN
5957              NaN                  NaN          NaN
5970              NaN                  NaN          NaN

When analyzing the data we can observe:
* There are more records per leads than per offers.
* There are null values.
* There are no columns with a single value.
* There are rows that contain duplicate data.

In [6]:
leads_df = data_cleaning.delete_row_with_duplicate_data(leads_df)

After removing rows - Shape: (60063, 10)

In [7]:
offers_df = data_cleaning.delete_row_with_duplicate_data(offers_df)

After removing rows - Shape: (6076, 9)